.main {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 32px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: lightblue;
}

.caption {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.link {
  margin: 0;
  color: #000;
  text-decoration: none;
}

.link_active {
  border-bottom: 1px solid #000;
}
