.main {
  margin-top: auto;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 32px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--footer-color);
}